@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

nav {
  background-color: #282c34;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}